PORT=5000
PG_USER=userdbname
PG_PASSWORD=password
PG_DATABASE=yourdbname
PG_HOST=localhost
PG_PORT=5432
SESSION_SECRET=your_secret_key
NODE_ENV=development
SWAGGER_SERVER_URL= http://localhost:5000/api/v1
REDIS_SESSION_TTL = 86400
IS_SECURE_COOKIE = false
SALT_ROUNDS = 10
COOKIE_MAX_AGE = 86400000